img {
	max-height: 40%;
	max-width: 40%;
}

p {
	font-family: Arial, sans-serif;
	color: #008B8B;
}

body {
	background-image: url("images/galaxy.jpg");
	background-position: center;
    background-repeat: no-repeat; 
	background-size: cover;
}	

h1 {
	margin: auto;
	font-family: Arial, sans-serif;
	color: #9F2B68;
}

h2 {
	margin: auto;
	font-family: Arial, sans-serif;
	color: #088F8F;
}

table, th, td {
  border: 1px solid;
  color:  #008080;
  background-color: #191970;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.planets {
	flex: 1;
}
